@use "./base.scss";

// put your custom CSS here!
article img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

blockquote.quote p {
    color: black;
}

article p strong {
    color: #f35044 !important;
}

article p strong a {
    color: #db2e21 !important;
}